@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300&family=Space+Mono&display=swap');



* {
    margin: 0;
    padding: 0;
    border: none;
    background-color: rgb(36, 4, 61);
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    
}


h1  {
    font-family: Oswald, sans-serif;
text-transform: uppercase;
letter-spacing: 4px;
text-align: center;
padding-top: 25px;
color: rgb(255, 255, 255);
}


h2{
    font-family: Oswald, sans-serif;
    
    letter-spacing: 4px;
    text-align: center;
    padding-top: 25px;
    color: rgb(255, 255, 255);
    
}



p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 30px;
    text-align: center;
    font-size: large;
    color: rgb(255, 255, 255);
    padding-left: 40px;
    padding-right: 40px;
    

}


#Fimage {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 30px;
    
    
}
